/* line 144, logo/*.png */
.logo-sprite, .logo-Back-Icon, .logo-about, .logo-button, .logo-circle, .logo-circled-help, .logo-close, .logo-drop, .logo-moon, .logo-pencil, .logo-question, .logo-setting, .logo-sound, .logo-sound2 {
  background-image: url('../image/logo-s8d8c7351f2.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-Back-Icon {
  background-position: 0 -199px;
  height: 33px;
  width: 20px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-about {
  background-position: 0 -154px;
  height: 20px;
  width: 20px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-button {
  background-position: 0 -31px;
  height: 18px;
  width: 30px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-circle {
  background-position: 0 -67px;
  height: 18px;
  width: 18px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-circled-help {
  background-position: 0 -174px;
  height: 25px;
  width: 25px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-close {
  background-position: 0 -49px;
  height: 18px;
  width: 18px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-drop {
  background-position: 0 -85px;
  height: 9px;
  width: 15px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-moon {
  background-position: -14px 0;
  height: 18px;
  width: 15px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-pencil {
  background-position: 0 0;
  height: 14px;
  width: 14px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-question {
  background-position: 0 -114px;
  height: 20px;
  width: 20px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-setting {
  background-position: 0 -134px;
  height: 20px;
  width: 20px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-sound {
  background-position: 0 -94px;
  height: 20px;
  width: 20px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-sound2 {
  background-position: 0 -18px;
  height: 13px;
  width: 18px;
}
